.center_content{
    
    display: inline-block;
}

.button{
    color: red;
}
.input{
    display: inline-block;
}

.servicios{
    
    display: block;
}
.serviapp{
    float: right;
}
