*{
    margin:0;
    padding: 0;
}
.amazon.header_amazon_view {
    height: 52px;
    width: 980px;
    margin: 0 auto 40px;
}
.amazon.header_amazon_view .brand {
    float: left;
    margin-top: -20px;
}
.amazon.header_amazon_view .partials_search_view .search-form {
    float: left;
    width: 500px;
    margin: 7px 20px;
    height: 36px;
    border: solid 1px dodgerblue;
    border-radius: 3px;
    background-color: #fff;
}
.amazon.header_amazon_view .partials_search_view .category-cell {
    position: relative;
    min-width: 180px;
    background-color: #fff;
    border-right: solid thin #ccc;
}
.amazon.header_amazon_view .partials_search_view .search-category {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    padding: 0 30px 0 10px;
    white-space: nowrap;
    color: #666;
    line-height: 24px;
    vertical-align: middle;
}
.amazon.header_amazon_view .partials_search_view .search-cell {
    width: 100%;
}
.amazon.header_amazon_view .partials_search_view .search-term {
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 5px 10px;
    border: none;
    color: #999;
    line-height: 34px;
    vertical-align: middle;
    border-radius: 4px;
    background-color: transparent;
}
.amazon.header_amazon_view .partials_search_view .category-cell, 
.amazon.header_amazon_view .partials_search_view .search-cell, 
.amazon.header_amazon_view .partials_search_view .submit-cell {
    display: table-cell;
    border-right: solid thin #ccc;
}
.amazon.header_amazon_view .partials_search_view .search-button {
    display: inline-block;
    vertical-align: middle;
    background: dodgerblue;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.25),rgba(255,255,255,0));
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 0 3px 3px 0;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    padding: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    border: none;
    font-size: 1.142857142857143rem;
    height: 38px;
    line-height: 1;
    width: 40px;
    margin: -1px -2px -2px 0;
}
.amazon.header_amazon_view .posting {
    float: right;
    border-radius: 3px;
    background: dodgerblue;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.25),rgba(255,255,255,0));
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    font-size: 1.428571428571429rem;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;      
}
.amazon.header_amazon_view .posting-title span {
    color: #999;
    display: block;
    font-size: 1rem;
    font-weight: normal;
    position: relative;
}
body{
    background: #FFFFFA;
}
header{
    width: 100%;

}
header nav{
    width: 90%;
    max-width:1000px;
    margin: 20px auto;
    background: dodgerblue;
    z-index: 1000;
}
.menu_bar{
    display: none;
}
#main-nav{
	float: right;
	width: 20%;
	max-width: 15em;
}
#main-section{
	width: 79%;
	max-width: 920px;
background: none;
text-align: left;
}
header nav ul{
    /*overflow: hidden;                            SI ALGO VOLVER A PONER*/
    list-style: none;

}

header nav ul li{
    /*float: left;*/
    display: inline-block;
    position: relative;

}

header nav ul li a{
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}
header nav ul li span{
    margin-right: 10px;
}
header nav ul li span1{
    margin-right: 10px;
}
header nav ul li:hover .children{
    display: block;
}
header nav ul li .children{
    display: none;
    background: #011826;
    position: absolute;
    width: 150%;
    z-index: 1000;
}
header nav ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255, .5);
}
header nav ul li .children li a {
    display: block;
    
}
header nav ul li .children li a span{
    float: right;
    position: relative;
}
header nav ul li a:hover{
    background: #037E8C;
}

.Footer{
    background-image: url(../css/images/Captura.PNG);
    line-height: 24px;
    display: block;
    margin-top: 7em;
}
.Footer-block{
    display: inline-block;
    margin-right: 20%;
    width: 23%;

    list-style: none;
}
.logo2{
    display: none;
}
.posting2{
    float: left;
    border-radius: 3px;
    background: dodgerblue;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.25),rgba(255,255,255,0));
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    font-size: 1.428571428571429rem;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;  
    display: none;
    
}
.menu-footer{
    margin-left: 65%;
}
.Footer-block2{
    display: none;
}
/*TABLET*/
@media screen and (max-width: 800px){                
    header nav{
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
        z-index: 10000;
       }
    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255, .3);
       }
    header nav ul li a{
        color: white;
       }
    #carrusel{
	display: block;
       }
    .bx-pager{
	display: block;
       }
    .bx-prev{
	display: block;
       }
    .bx-next{
	display: block;
       }
    .bx-viewport{
        display: block;
       }
    #main-nav{
        display: none;
       }
    .menu_bar{
        display: block;
        width: 100%;
        background: #ccc;
       }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: dodgerblue;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -box-sizing:border-box;
       }
    .menu_bar span{
        float: right;
        font-size: 40px;
       }
    .logo{
        display: none;
       }
       .logo2{
           display: block;
           margin-left: 15%;
       }   
    .Footer{
        font-size: 1em;
       }
    //section{
      //  display: none;
    //}  

    .posting{
        width: 145px;
        height: 50px;
        position: absolute;
       }
    .posting-title{
        display: none;
       }
    .search-form{
        padding: 1px 1px;
        margin-top: 10em;
       }
    
    .search-cell{
        margin-top: 10em;
       }
    .amazon header_amazon_view{
        margin-top: 10em;
        position: relative;
       }
    #main-section{
        margin-top: 5em;
       }
    .amazon.header_amazon_view{
        width: 55em;
        height: 0em;
       }
}
@media screen and (max-width: 799px){                
    header nav{
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
        z-index: 10000;
       }
    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255, .3);
       }
    header nav ul li a{
        color: white;
       }
    #carrusel{
	display: block;
       }
    .bx-pager{
	display: block;
       }
    .bx-prev{
	display: block;
       }
    .bx-next{
	display: block;
       }
    .bx-viewport{
        display: block;
       }
       .bx-wrapper{
           right: 10px;
       }
    #main-nav{
        display: none;
       }
    .menu_bar{
        display: block;
        width: 100%;
        background: #ccc;
       }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: dodgerblue;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -box-sizing:border-box;
       }
    .menu_bar span{
        float: right;
        font-size: 40px;
       }
    .logo{
        display: none;
       }
    .Footer{
        font-size: 1em;
       }
    //section{
      //  display: none;
    //}  

    .posting{
       display: none;
       }
    .posting-title{
        display: none;
       }
    .search-form{
        padding: 1px 1px;
        margin-top: 10em;
       
       }
       .amazon.header_amazon_view .partials_search_view .search-form{
           width:  450px;
           margin-left: 10em;
       }
    
    .search-cell{
        margin-top: 10em;
       }
    .amazon header_amazon_view{
        margin-top: 10em;
        position: relative;
       }
    #main-section{
        margin-top: 7em;
       }
    .amazon.header_amazon_view{
        width: 55em;
        height: 0em;
       }
         .posting2{
         display: block;
         margin-left: 12em;
     }
     .logo2{
         display: block;
         margin-left: 10em;
     }
}
/*CELULAR*/
@media screen and (max-width: 631px){
    header nav{
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
       }
    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255, .3);
       }
    #carrusel{
	display: none;
       }
    .bx-pager{
	display: none;
       }
    .bx-prev{
	display: none;
       }
    .bx-next{
	display: none;
       }
    .bx-viewport{
	display: none;
       }
    #main-nav{
        display: none;
       }

    .menu_bar{
        display: block;
        width: 100%;
        background: #ccc;
      }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: dodgerblue;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -box-sizing:border-box;
      }

    .menu_bar span{
        float: right;
        font-size: 40px;
      }
    .logo{
        display: none;
      }
    .Footer{
        font-size: 1em;
      }
    //section{
      //  display: none;
    //}  

    .posting{
        display: none;
      }
    .posting-title{
        display: none;
      }
    .search-form{
        padding: 1px 1px;
        margin-top: 30em;
      }
    .serch-term{
        padding: 5px 10px;
      }
    
    .search-cell{
        display:none;
      }
    .amazon header_amazon_view{
        display: none
      }
    #main-section{
        margin-top: 5em;
        font-size: 15px;
      }
    .amazon.header_amazon_view .partials_search_view .search-form{
        width: 80%;
        margin-left: 5em;
      }
    .amazon.header_amazon_view{
        width: 30em;
        height: 0em;
     }
     .posting2{
         display: block;
         margin-left: 35%;
     }
     .logo2{
         display: block;
         margin-left: 22%;
     }
      .Footer-block{
        display: block;
        font-size: 1em;
        margin-right: 20%;
    }
    
}
@media screen and (max-width: 478px){
    header nav{
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
       }
    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255, .3);
       }
    #carrusel{
	display: none;
       }
    .bx-pager{
	display: none;
       }
    .bx-prev{
	display: none;
       }
    .bx-next{
	display: none;
       }
    .bx-viewport{
	display: none;
       }
    #main-nav{
        display: none;
       }

    .menu_bar{
        display: block;
        width: 100%;
        background: #ccc;
      }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: dodgerblue;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -box-sizing:border-box;
      }

    .menu_bar span{
        float: right;
        font-size: 40px;
      }
    .logo{
        display: none;
      }
    .Footer{
        font-size: 1em;
      }
    //section{
      //  display: none;
    //}  

    .posting{
        display: none;
      }
    .posting-title{
        display: none;
      }
    .search-form{
        padding: 1px 1px;
        margin-top: 30em;
      }
    .serch-term{
        padding: 5px 10px;
      }
    
    .search-cell{
        display:none;
      }
    .amazon header_amazon_view{
        display: none
      }
    #main-section{
        margin-top: 5em;
        font-size: 15px;
      }
    .amazon.header_amazon_view .partials_search_view .search-form{
        width: 83%;
        margin-left: 6%;
      }
    .amazon.header_amazon_view{
        width: 30em;
        height: 0em;
     }

     .posting2{
         display: block;
         margin-left: 35%;
     }
     .logo2{
         display: blminimaock;
         margin-left: 22%;
     }
      .Footer-block{
        display: block;
        font-size: 1em;
    }
}
@media screen and (max-width: 430px){
    header nav{
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
       }
    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255, .3);
       }
    #carrusel{
	display: none;
       }
    .bx-pager{
	display: none;
       }
    .bx-prev{
	display: none;
       }
    .bx-next{
	display: none;
       }
    .bx-viewport{
	display: none;
       }
    #main-nav{
        display: none;
       }

    .menu_bar{
        display: block;
        width: 100%;
        background: #ccc;
      }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: dodgerblue;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -box-sizing:border-box;
      }

    .menu_bar span{
        float: right;
        font-size: 40px;
      }
    .logo{
        display: none;
      }
    .Footer{
        font-size: 1em;
      }
    //section{
      //  display: none;
    //}  
    .Footer-block{
        display: block;
        font-size: 1em;
    }

    .posting{
        display: none;
      }
    .posting-title{
        display: none;
      }
    .search-form{
        padding: 1px 1px;
        margin-top: 30em;
      }
    .serch-term{
        padding: 5px 10px;
      }
    
    .search-cell{
        display:none;
      }
    .amazon header_amazon_view{
        display: none
      }
    #main-section{
        margin-top: 7%;
        font-size: 20px;
        text-align: center;
        margin-left: 10%;
      }
    .amazon.header_amazon_view .partials_search_view .search-form{
        width: 70%;
        margin-left: 0;
      }
    .amazon.header_amazon_view{
        width: 30em;
        height: 0em;
     }

     .posting2{
         display: block;
         margin-left: 15%;
     }
     .logo2{
         display: block;
         margin-left: 22%;
     }
     
}
@media screen and (max-width: 360px){
    header nav{
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
       }
    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255, .3);
       }
    #carrusel{
	display: none;
       }
    .bx-pager{
	display: none;
       }
    .bx-prev{
	display: none;
       }
    .bx-next{
	display: none;
       }
    .bx-viewport{
	display: none;
       }
    #main-nav{
        display: none;
       }

    .menu_bar{
        display: block;
        width: 100%;
        background: #ccc;
      }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: dodgerblue;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -box-sizing:border-box;
      }

    .menu_bar span{
        float: right;
        font-size: 40px;
      }
    .logo{
        display: none;
      }
    .Footer{
        font-size: 1em;
      }
    //section{
      //  display: none;
    //}  
    .Footer-block{
        display: block;
        font-size: 1em;
    }

    .posting{
        display: none;
      }
    .posting-title{
        display: none;
      }
    .search-form{
        padding: 1px 1px;
        margin-top: 30em;
      }
    .serch-term{
        padding: 5px 10px;
      }
    
    .search-cell{
        display:none;
      }
    .amazon header_amazon_view{
        display: none
      }
    #main-section{
        margin-top: 7%;
        font-size: 20px;
        text-align: center;
        margin-left: 10%;
      }
    .amazon.header_amazon_view .partials_search_view .search-form{
        width: 63%;
        margin-left: 0;
      }
    .amazon.header_amazon_view{
        width: 30em;
        height: 0em;
     }

     .posting2{
         display: block;
         margin-left: 15%;
     }
     .logo2{
         display: block;
         margin-left: 22%;
     }
     
}